<%- include('../inc/header.ejs') %>
    <div class="p-3 p-sm-5">
        <h2 class="text-center">
            <%= title %>
        </h2>
        <!-- Thêm sản phẩm -->
        <div class="row mb-5">
            <div class="col-2"></div>
            <div class="col-8 card mt-4 boderCard">
                <div class="text-center mt-4">
                    <%  if(typeErr){ %>
                        <span class="text-danger"> * <%= msg %></span>
                    <%  }else{ %>
                            <span class="text-success"> <%= msg %></span>
                    <% } %>
                </div>
                <form class="p-5" method="post">
                    <div class="row mb-3">
                        <div class="col-1"></div>
                        <div class="col-10 form-floating mt-2">
                            <input type="password" class="form-control boderBtn rounded-2" id="floatingInput" name="matKhauCu" 
                            placeholder="Password" required>
                            <label class="ms-3" for="floatingInput">Nhập mật khẩu của bạn</label>
                        </div>
                        <div class="col-1"></div>
                        <!--mật khẩu Mới -->
                        <div class="col-1"></div>
                        <div class="col-10 form-floating mt-2">
                            <input type="password" class="form-control boderBtn rounded-2" id="floatingInput" name="matKhauMoi" 
                            placeholder="Password" required>
                            <label class="ms-3" for="floatingInput">Nhập mật khẩu mới</label>
                        </div>
                        <div class="col-1"></div>

                        <div class="col-1"></div>
                        <div class="col-10 form-floating mt-2">
                            <input type="password" class="form-control boderBtn rounded-2" id="floatingInput" name="NhapLaiMatKhau" 
                            placeholder="Password" required>
                            <label class="ms-3" for="floatingInput">Nhập lại mật khẩu mới</label>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="mt-4 text-center">
                        <button type="submit" class="btnCustem"
                            style="width: 200px; height: 48px; font-size: 24px; font-weight: 500;">Save</button>
                    </div>
                </form>

               
            </div>
        
        </div>
    </div>
    <%- include('../inc/footer.ejs') %>