<%- include('../inc/header.ejs') %>

    <div class="p-3 p-sm-5">
        <h2 class="text-center mb-5">
            <%= title %>
        </h2>
        <!-- Thanh Dieu khien -->
        <div class="row">
            <div class="col-md-6 col-sm-12 row">
                <div class="col-md-3 col-sm-6 mt-2">
                    <a href="/category/add">
                        <button type="button" class="btnCustom" style="width: 150px;">Thêm</button>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 mt-2">
                    <select id="priceSapXep" class="form-select boderBtn" style="width: 150px;">
                        <option>Sắp xếp tên</option>
                        <option>A đến Z</option>
                        <option>Z đến A</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 d-flex justify-content-end">
                <nav class="navbar">
                    <div class="container-fluid">
                        <form class="d-flex" role="search" action="/product/search/">
                            <input class="form-control me-2 boderBtn" type="search" placeholder="Search theo tên"
                                aria-label="Search" style="width: 300px;" name="name">
                            <button class="btnCustom" type="submit" style="width: 150px;">Tìm kiếm</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>

        <table class="table table-bordered table-hover mt-2">
            <thead class="borderTable bg-thead">
                <tr>
                    <th scope="col" class="col-1 text-center">STT</th>
                    <th scope="col" class="col-2 text-center">Tên</th>

                    <th scope="col" class="col-1 text-center">Sửa</th>
                    <th scope="col" class="col-1 text-center">Xóa</th>
                </tr>
            </thead>
            <tbody class="borderTable">
                <% for(let i=0;i < listCate.length ; i++){ %>
                    <tr>
                        <th scope="row" class="text-center">
                            <%= i + 1 %>
                        </th>
                        <td class="text-center">
                            <%= listCate[i].name %>
                        </td>
                        <!-- Chức năng sửa -->
                        <td class="text-center">
                            <button type="button" class="btn btn-success p-2" data-bs-toggle="modal"
                                data-bs-target="#sua<%= listCate[i]._id %>" style="width: 48px; height: 48px;">
                                <i class="bi bi-pencil " style="font-size: 1.5rem;"></i>
                            </button>

                            <div class="modal fade" id="sua<%= listCate[i]._id %>" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <form action="" method="post">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Sửa thể loại sản
                                                    phẩm</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" name="idLoai" value="<%= listCate[i]._id %>">
                                                <div class=" form-floating">
                                                    <input type="text" class="form-control boderBtn rounded-2"
                                                        value="<%= listCate[i].name %>" id="floatingInput" name="name"
                                                        placeholder="Password" required>
                                                    <label class="ms-3" for="floatingInput">Tên thể loại</label>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Hủy</button>

                                                <a class="btn btn-primary"
                                                href="/category/edit/<%= listCate[i]._id %>">Sửa</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <!-- Chức năng xóa -->
                        <td class="text-center">
                            <button type="button" class="btn btn-danger p-2" data-bs-toggle="modal"
                                data-bs-target="#xoa<%= listCate[i]._id %>" style="width: 48px; height: 48px;">
                                <i class="bi bi-trash3" style="font-size: 1.5rem; text-align: center;"></i>
                            </button>

                            <div class="modal fade" id="xoa<%= listCate[i]._id %>" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa sản phẩm</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Bạn có chắc muốn xóa loại sản phẩm này ?</p>
                                            <p>Nếu xóa thì các sản phẩm có cùng thể loại cũng bị xóa theo!</p>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>

                                            <a class="btn btn-primary"
                                                href="/category/delete/<%= listCate[i]._id %>">Xóa</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

    </div>

    <%- include('../inc/footer.ejs') %>